@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
}

body {
  background: var(--color-background, #ffffff);
  color: var(--color-text-primary, #222222);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}

.container {
  max-width: var(--site-max-width, 1200px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
